[phases.setup]
nixPkgs = ["python311", "gcc", "pkg-config", "cairo", "pango", "gdk-pixbuf", "libffi"]

[phases.install]
cmds = [
    "pip install --upgrade pip",
    "pip install -r requirements.txt"
]

[phases.build]
cmds = [
    "python manage.py collectstatic --noinput"
]

[start]
cmd = "gunicorn la_playita_project.wsgi:application --bind 0.0.0.0:$PORT --workers 2 --timeout 120"