[phases.setup]
nixPkgs = [
    "python311",
    "gcc",
    "pkg-config", 
    "cairo",
    "pango",
    "gdk-pixbuf",
    "libffi",
    "freetype",
    "fontconfig"
]

[phases.install]
cmds = [
    "pip install --upgrade pip",
    "pip install -r requirements.txt"
]

[start]
cmd = "cd la_playita_project && gunicorn la_playita_project.wsgi:application --bind 0.0.0.0:$PORT"